      <footer class="footer" role="contentinfo">
      <p>&copy;@name @current_year / <a href="https://twitter.com/blrobin2/">twitter</a> / <a href="https://github.com/blrobin2/personalsite-staceybuild/">github</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
      </footer>
    </div><!--end CONTAINER-->
    <script type="text/javascript">
      document.getElementsByTagName('body')[0].className += 'js-enabled';
    </script>
    <script src="@root_path/public/docs/js/jquery-1.3.2.js"></script>
  </body>
</html>