      <hr>
      <footer>
      <p>&copy; Copyright @name @current_year <a href="@root_path/?/feed/">RSS</a><br>
        The source code for this site can be found at <a href="https://github.com/blrobin2/personalsite-staceybuild/">github</a>.<br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
      </footer>
    </div><!--end CONTAINER-->
    <script type="text/javascript" charset="utf-8">
      document.getElementsByTagName('body')[0].className += ' js-enabled';
    </script>
    <script src="@root_path/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>