.header {
  text-align: center;
  font-size: 2em;
  float: left;
  @include transform(rotate(5deg));
  
  a {
    vertical-align: top;
    padding-left: 10px;
    color: #fff;
    text-shadow: 0 1px 0 darken($primary-color, 25%);
  }

  h1:before {
    content: url(../../images/site-logo.png);
    display: inline;
  }

}

.main, .article {
  clear: both;
}

.site-nav {
  float: none;
  ul {
    margin: 0 auto;

    li {
      display: inline-block;
      font-size: 1.5em;
      text-decoration: none;
      padding-left: 2em;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  @media screen and (min-width: 480px) {
    float: right;
  }
}

.l-article-list ul {
  padding-left: 0;
  clear: both;
}

.footer {
  padding: 2em;
}